<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font: 13px Helvetica, Arial;
        background-color: #000;
        color: #fff;

      }
      form {
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 80%;
        border-color: #fff;
        border-top-style: solid;
        border-top-width: 1px;
      }
      form input {
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        width: 65%;
        margin-right: 0.5%;
        margin-bottom: 7%;
      }
      form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        margin-left: 2%;
      }
      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #messages li {
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: rgb(58, 48, 48);
      }
      .container {
        margin: auto 150px;
        padding: 20px;
        font-size: 20px;
      }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <ul id="messages"></ul>
      <form action="/" method="POST" id="chatForm">
        <input
          id="txt"
          autocomplete="off"
          autofocus="on"
          oninput="isTyping()"
          placeholder="type your message here..."
        /><button>Send</button>
      </form>
    </div>
    <script>
      var socket = io.connect("http://localhost:3000");

      $("form").submit(function (e) {
        e.preventDefault();
        socket.emit("chat", $("#txt").val());
        $("#txt").val("");
        return false;
      });

      socket.on("chat", function (msg) {
        $("#messages").append($("<li> ").html(msg));
      });

      socket.on("isOnline", function (username) {
        $("#messages").append($("<li> ").html(username));
      });

      var username = prompt("Please tell me your name");
      socket.emit("username", username);
    </script>
  </body>
</html>
